<% unless user_signed_in? %>
  <%= render 'shared/banner' %>
<% end %>

<div class="container">
  <h3>Find a plant to take care of</h3>
  <div class="wrapper">
    <% Plant.all.each do |plant| %>
      <%= link_to plant_path(plant) do %>
        <div class="plant-card" style="background-image: url('<%= cl_image_path plant.photo %>')">
          <p><%= plant.name %></p>
          <%= image_tag("avatar", class: 'petit-avatar-des-cards') %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

