<div class="sign-wrapper">
  <div class="sign-box">
    <%= simple_form_for @plant do |f| %>
    <%= f.input :name %>
    <br>
    <%= f.input :description %>
    <br>
    <%= f.input :date_beginning %>
    <%= f.input :date_end %>
    <br>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <br>
    <%= f.submit "Add a plant", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

