<div class="container">

  <!-- Actions section -->
  <div class="actions-icons">
    <%= link_to root_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <div class="actions-icons-right">
      <% if policy(@plant).edit? %>
        <%= link_to edit_plant_path do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% end %>
      <% if policy(@plant).destroy? %>
        <%= link_to plant_path(@plant), html_options = { method: 'delete'} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- map -->
    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    ></div>

  <!-- Information section -->
  <div class="info-container">
    <%= cl_image_tag @plant.photo, height: 400, width: 400 %>
    <div class="options">
      <h1><%= @plant.name %></h1>
      <p><%= @plant.description %></p>
      <%= link_to 'Offer to take care of', new_plant_caring_path(params[:id]), class: "btn btn-primary", data: {confirm: 'Request successfully submitted!'}  %>
    </div>
  </div>

  <!-- Contact section -->
  <div class="contact-section">
    <p class="prompt">
      Interested in taking care of <%= @plant.name %>? Make an offer, or get into contact here!
    </p>
    <p> User's Email: <%= @plant.user.email %></p>
  </div>
</div>

