<div class="container">

  <!-- Actions section -->
  <div class="actions-icons">
    <%= link_to root_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <div class="actions-icons-right">
      <% if policy(@plant).edit? %>
        <%= link_to edit_plant_path do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% end %>
      <% if policy(@plant).destroy? %>
        <%= link_to plant_path(@plant), html_options = { method: 'delete'} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- map -->
    <div
    id="map"
    style="width: 100%;
    height: 300px;"
    data-markers="<%= @markers.to_json %>"
    ></div>

  <!-- Information section -->
  <div class="info-container">
    <%= cl_image_tag @plant.photo, height: 400, width: 400 %>
    <div class="options">
      <h1><%= @plant.name %></h1>

      <p><strong> Available from: </strong> <%= @plant.date_beginning %> </p>
      <p><strong> Available to: </strong> <%= @plant.date_end %> </p>
      <p><strong> Description: </strong> <%= @plant.description %> </p>

      <% if @plant.user == current_user %>
        <%= link_to 'Offer to take care of', root_path, class: "btn btn-primary hidden", data: {confirm: 'You cannot take care of your own plant.'}  %>
      <% else %>
        <%= simple_form_for [@plant, @caring] do |f| %>
          <%= f.label :date_beginning, "Take care from:" %>
          <%= f.input_field :date_beginning,
          as: :date,
          start_day: Date.today,
          end_day: @plant.date_end,
          html5: true %>
          <br>
          <%= f.label :date_end, "Take care to:" %>
          <%= f.input_field :date_end, as: :date, html5: true %>
          <br>
          <br>
          <%= f.submit 'Take care of this plant', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Contact section -->
  <div class="contact-section">
    <p class="prompt">
      Interested in taking care of <%= @plant.name %>? Make an offer, or get into contact here!
    </p>
    <p> User's Email: <%= @plant.user.email %></p>
  </div>
</div>

